// Define variables for your color scheme
$pink: #CD113B;
$orange: #FF7600;
$yellow: #FFA900;
$purple: #52006A;

// For example:
$red: #FD1015;
$blue: #167FFB;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
