<div class="navbar navbar-expand-sm navbar-lewagon">
    <%= link_to 'Watch Lists', lists_path%>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-2">
          <%= link_to 'Add a list', new_list_path %>
        </li>
      </ul>
    </div>
  </div>
