.btn {
  border: 1px solid $pink;
  border-radius: 35px;
  color: $pink;
  &:hover {
    border: 1px solid $purple;
    color: $purple;
  }
}

.btn-movie {
  border: 1px solid white;
  border-radius: 35px;
  color: white;
  &:hover {
    border: 1px solid white;
    color: white;
    opacity: 0.6;
  }
}
