.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-category {
  background-position: center;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  a {
    color: white;
    &:hover {
      color: white;
      opacity: 0.7;
    }
  }
}
